@using Newtonsoft.Json.Converters
<div class="footer">
    <center>
        <div>
            <strong>Copyright</strong> Bienes raices JJ & A &copy; @DateTime.Today.Year
        </div>
    </center>
</div>
